<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CA Details</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>CA Details</h1>
        <input type="text" id="domainInput" placeholder="Enter Domain" onkeypress="handleKeyPressCa(event)">
        <button onclick=getCA()>Get CA</button>
        <div id="caDetails"></div>
        <button onclick="window.location.href='/certificate'">Go to Certificate Details</button>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
